---
# tasks file for apt
- name: install dependencies
  apt:
    name: "{{ item }}"
    state: present
  with_items: apt_dependencies
  when: apt_dependencies
  tags: [configuration, apt, apt-dependencies]

- name: update
  apt:
    update_cache: yes
    cache_valid_time: "{{ apt_update_cache_valid_time }}"
  when: apt_update
  tags: [configuration, apt, apt-update]

- name: upgrade
  apt:
    upgrade: "{{ apt_upgrade_type }}"
    update_cache: yes
  when: apt_upgrade
  tags: [configuration, apt, apt-upgrade]

- name: clean
  shell: apt-get -y clean
  changed_when: False
  when: apt_clean
  tags: [configuration, apt, apt-clean]

- name: autoremove
  shell: apt-get -y autoremove
  changed_when: False
  when: apt_autoremove
  tags: [configuration, apt, apt-autoremove]

- name: install
  apt:
    name: "{{ item }}"
    state: present
  with_items: apt_install
  when: apt_install
  tags: [configuration, apt, apt-install]

- name: remove
  apt:
    name: "{{ item }}"
    state: absent
    purge: "{{ 'yes' if apt_remove_purge else 'no' }}"
  with_items: apt_remove
  when: apt_remove
  tags: [configuration, apt, apt-remove]
