{{ ansible_managed | comment }}

Types: deb{{ (apt_src_enable | bool) | ternary(' deb-src', '') }}
URIs: {{ apt_ubuntu_mirror }}
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates {{ (apt_ubuntu_backports_enable | bool) | ternary(' ' + ansible_distribution_release + '-backports', '') }}
Components: main restricted universe multiverse
Signed-By: {{ apt_ubuntu_archive_keyring_file }}

Types: deb{{ (apt_src_enable | bool) | ternary(' deb-src', '') }}
URIs: {{ apt_ubuntu_security_mirror }}
Suites: {{ ansible_distribution_release }}-security
Components: main restricted universe multiverse
Signed-By: {{ apt_ubuntu_archive_keyring_file }}
